body{
    background: #BDBDBD;
}

.main-title {
    font-weight: 600;
}

.sub-title{
    font-weight: 500;
}

.img-teclado {
    width: 150px;
    height: 150px;
}


.redonda {
    border-radius: 80%;
    width: 50%;
    height: auto;
}
strong{
    text-decoration: none;
    font-weight: normal;
    color: grey;
}
.espacio-header {
    padding-left: 5%;
}

.espacio-header-texto {
    padding-left: 5%;
}