body{
    background: #BDBDBD;
}

.main-title {
    font-weight: 600;
}

.sub-title{
    font-weight: 500;
}

.img-teclado {
    width: 150px;
    height: 150px;
}

.caja-circulo{
    justify-content:end;
}
.redonda {
    border-radius: 80%;
    width: 100%;
    height: auto;
    
}
.segundo-titulo{
    color: grey;
}
.espacio-header {
    /*padding-left: 5%;*/
    color: black;
}





.contenido-header{
   padding-top: 4%;
    
}