<section>
    <div class="row ">
        <div class="col-7">
            <h1 class="espacio-header">The First Heading <strong>Will Catch Your Eye</strong></h1>
            <p class="espacio-header-texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maxime numquam accusamus voluptate
                quisquam nostrum quidem repellendus illum eaque, repellat laboriosam sequi aperiam, laborum quia
                necessitatibus tempore consectetur modi? Optio?
            </p>
        </div>
        <div class="col-5">
            <div class="caja-circulo">
                <img class="redonda" src="./assets/img/1.jpg">
            </div>
        </div>
    </div>
</section>>