<section class="container">
    <div class="row contenido-header">
    
        <div class="col-9">
            <h1 class="espacio-header">The First Heading <span class="segundo-titulo">Will Catch Your Eye</span></h1>
            <p class="espacio-header-texto">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maxime numquam accusamus voluptate
                quisquam nostrum quidem repellendus illum eaque, repellat laboriosam sequi aperiam, laborum quia
                necessitatibus tempore consectetur modi? Optio?
            </p>
        </div>
        <div class="col-3 caja-circulo">
            <div>
                <img class="redonda" src="./assets/img/1.jpg">
            </div>
        </div>
    </div>
</section>